@model eventease_app.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.User!.Id)   @* null-forgiving on User *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Event!.Id)  @* null-forgiving on Event *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.PaymentMethod!) @* if PaymentMethod is string? *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <!-- Model itself is non-null, so no need for Model? -->
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
